# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Mi unidad\PUCP\2020-2\Desarrollo de Aplicaciones móviles\Clase 01 - Aplicaciones móvile y Java\PROGRAMAS\PRUEBA_GIT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
